/* Main structure */
html {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;

  background-color: #fffaf7;
  color: #555;

  max-width: 40em;
  font-size: 18px;
  padding: 1em;
  margin: 0 auto 4em;
}

/* Headers */
header {
  margin-bottom: 1.5em;
  line-height: 1.3;
}

/* Main page header, navigation */
.navigation {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  margin-bottom: 4em;
}

.navigation h1 {
  padding-right: 1rem;
}

nav a:not(:last-child) {
  margin-right: 1em;
}

/* Headings */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: #333;
}

h1 a {
  color: #000;
}

h1 a:hover,
h2 a:hover {
  text-decoration: none;
}

header h1,
header h2,
header h3 {
  margin: 0;
}

h1 {
  font-size: 2.0em;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-style: italic;
}

/* Links */
a {
  text-decoration: none;
  color: #ff3c3c;
}

a:hover {
  text-decoration: underline;
}

/* Code and formatted blocks */
code,
pre {
  background: #eee;
  overflow-x: auto;
  line-height: 1.2;
  font-size: 0.95em;
}

code {
  padding: 0.1em;
}

pre {
  padding: 1em;
}

/* Gallery */
.gallery {
  margin: 1em 0;
}

.gallery img {
  margin-bottom: 1em;
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

/* Videos */
video {
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.2);
  width: 100%;
}

@media only screen and (min-width: 480px) {

  .gallery {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin: 1em -0.5em;
  }

  .gallery img {
    object-fit: cover;
    margin: 0 0.5em 1em;
    width: calc(100% / 3 - 2em);
    flex: auto;
  }
}

/* Article list */
.articles article {
  margin-bottom: 2em;
}

/* Misc */
time {
  color: #888;
}
